body {
  color: #013a4c;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  padding: 0 144px;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 431px;
}

.header__item:nth-child(-n + 2) {
  margin-right: 62px;
}

.header__item:nth-last-child(-n + 3) {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 48px;
}

.header__link {
  padding: 30px 0;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  color: #013a4c;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.header__link:hover {
  color: #ffd063;
}

.header__btn--demo {
  padding: 10px 16px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #013a4c;
  background-color: #ffd063;
  border: 1px solid #ffd063;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
  -webkit-transition: bacground-color 300ms, border 300ms;
  transition: bacground-color 300ms, border 300ms;
}

.header__btn--demo:hover {
  background-color: transparent;
  border: 1px solid #013a4c;
}

.header__btn--login {
  padding: 10px 16px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #013a4c;
  background-color: transparent;
  border: 1px solid #013a4c;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 48px;
  -webkit-transition: bacground-color 300ms, border 300ms;
  transition: bacground-color 300ms, border 300ms;
}

.header__btn--login:hover {
  background-color: #ffd063;
  border: 1px solid transparent;
}

.header__earth {
  padding: 28px 0;
}

.header__earth:hover .header__icon {
  fill: red;
}

.hero {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  width: 100%;
  height: 850px;
  padding: 216px 0 296px;
  background-image: url(../../images/background-1@2x.jpg);
  background-size: 1440px 850px;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  font-family: "Roboto";
  font-size: 76px;
  line-height: 78px;
  letter-spacing: 2px;
  color: #013a4c;
}

.hero__text {
  width: 491px;
  margin-top: 31px;
  font-family: "Work Sans";
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.5px;
  color: #013a4c;
}

.hero__link {
  margin-left: 510px;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
}

.hero__buttons {
  margin-top: 5px;
}

.hero__btn {
  padding: 15px 21px;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #013a4c;
  background-color: #ffd063;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.hero__btn:last-child {
  margin-left: 16px;
  padding: 15px 21px;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: white;
  background-color: #013a4c;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.sign {
  padding: 80px 0 128px;
  background-color: #013a4c;
}

.sign__pretitle {
  font-family: "Roboto";
  font-size: 25px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.7px;
  color: #ffffff;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.client-list__item:not(:last-child) {
  margin-right: 32px;
}

.client-list__img {
  margin-right: 14px;
}

.sign__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
}

.sign__title {
  width: 400px;
  font-family: "Roboto";
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.4px;
  color: #f2dce4;
}

.sign__text {
  width: 528px;
  margin-top: 38px;
  font-family: "Work Sans";
  font-size: 21px;
  line-height: 1.33;
  color: #ffffff;
}

.sign__btn {
  margin-top: 20px;
  padding: 15px 21px;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #013a4c;
  background-color: #ffd063;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.collaborate {
  margin-top: 128px;
  background-color: #d3e8f4;
  border-radius: 10px;
}

.collaborate-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #013a4c;
}

.collaborate-menu__item:not(:last-child) {
  margin-right: 110px;
}

.collaborate-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px 0;
}

.collaborate-menu__icon {
  margin: 0 auto 7px;
}

.collaborate-menu__subscribe {
  display: block;
  font-family: "Work Sans";
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #013a4c;
}

.collaborate__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collaborate__wrap {
  padding: 36px 0 80px 96px;
}

.collaborate__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 55px;
  line-height: 1.45;
  letter-spacing: 0.7px;
}

.collaborate__text {
  width: 545px;
  margin-top: 15px;
  font-family: "Work Sans";
  font-size: 21px;
  line-height: 1.33;
}

.collaborate__list {
  margin-top: 56px;
}

.collaborate__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.collaborate__item:not(:last-child) {
  margin-bottom: 8px;
}

.collaborate__link {
  margin-left: 8px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.43;
  color: #013a4c;
}

.collaborate__btn {
  margin-top: 32px;
  padding: 10px 16px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #013a4c;
  background-color: transparent;
  border: 1px solid #013a4c;
  border-radius: 4px;
  cursor: pointer;
}

.collaborate__img {
  margin-top: 56px;
}

.video-player {
  width: 1440px;
  height: 814px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../images/background-2@2x.jpg);
  background-size: 1440px 814px;
}

.platform {
  height: 2432px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../../images/background-3@2x.jpg);
  background-size: 1440px 2432px;
}

.platform__title {
  width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 122px;
  margin-bottom: 150px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 80px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.7px;
}

.platform-card:nth-child(2) > .platform-card__wrap {
  margin-left: auto;
}

.platform-card:last-child > .platform-card__wrap {
  margin-left: auto;
}

.platform-card:not(:last-child) {
  margin-bottom: 90px;
}

.platform-card__wrap {
  width: 520px;
}

.platform-card__icon-wrap {
  width: 109px;
  height: 109px;
  border-radius: 50%;
  background-color: #013a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform-card__title {
  margin-top: 15px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 48px;
  line-height: 1.12;
  letter-spacing: 0.4px;
}

.platform-card__text {
  width: 520px;
  margin-top: 34px;
  font-family: "Work Sans";
  font-size: 18px;
  line-height: 1.33;
}

.platform-card__btn {
  margin-top: 17px;
  margin-bottom: 32px;
  padding: 10px 16px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: white;
  background-color: #013a4c;
  border: 1px solid #013a4c;
  border-radius: 4px;
  cursor: pointer;
}

.believe {
  height: 850px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 300px 0;
  background-image: url(../../images/background-4@2x.jpg);
  background-size: 1440px 850px;
}

.believe__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 73px;
  line-height: 1.07;
  letter-spacing: 2px;
  color: #f2dce4;
}

.believe__text {
  width: 470px;
  margin-top: 32px;
  font-family: "Work Sans";
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.believe__btn {
  margin-top: 25px;
  padding: 10px 16px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  color: #013a4c;
  background-color: #ffd063;
  border: 1px solid #ffd063;
  border-radius: 4px;
  cursor: pointer;
}

.reviews {
  padding-top: 127px;
  padding-bottom: 102px;
}

.reviews__title {
  font-family: "Roboto";
  font-size: 48px;
  line-height: 1.12;
  letter-spacing: 0.4px;
}

.user-cards {
  margin-top: 57px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 444px;
  width: 373px;
  padding: 65px 32px;
  border-radius: 7px;
  border: 1px solid #d6dfe2;
}

.user-cards__item:not(:last-child) {
  margin-right: 16px;
}

.user-cards__text {
  font-family: "Work Sans";
  font-size: 18px;
  line-height: 1.33;
}

.user-cards__link {
  margin-top: 18px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.3;
  color: #89285b;
}

.user-cards__signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.user-cards__img {
  width: 48px;
  height: 48px;
}

.user-cards__name {
  margin-left: 16px;
  font-family: "Work Sans";
  font-size: 14px;
  line-height: 1.43;
}

.integration {
  padding: 150px 0 70px;
}

.integration__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.integration__wrap {
  margin-top: 200px;
}

.integration__title {
  font-family: "Roboto";
  font-size: 72px;
  line-height: 1;
  letter-spacing: 0.4px;
}

.integration__text {
  width: 400px;
  margin-top: 30px;
  font-family: "Work Sans";
  font-size: 21px;
  line-height: 1.33;
}

.integration__btn {
  margin-top: 19px;
  padding: 15px 21px;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #013a4c;
  background-color: #ffd063;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.grid {
  width: 564px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[8];
      grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.grid__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__box-1 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / 4 / 3;
}

.grid__box-2 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 4 / 1 / 6 / 3;
}

.grid__box-3 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 6 / 1 / 8 / 3;
}

.grid__box-4 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 1 / 3 / 3 / 5;
}

.grid__box-5 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 3 / 3 / 5 / 5;
}

.grid__box-6 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5 / 3 / 7 / 5;
}

.grid__box-7 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 7 / 3 / 9 / 5;
}

.grid__box-8 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 2 / 5 / 4 / 7;
}

.grid__box-9 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 4 / 5 / 6 / 7;
}

.grid__box-10 {
  width: 172px;
  height: 172px;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 6 / 5 / 8 / 7;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */