.hero {
	margin-right: auto;
	margin-left: auto;
	max-width: 1440px;
	width: 100%;
	height: 850px;
	padding: 216px 0 296px;
	background-image: url(../images/background-1@2x.jpg);
	background-size: 1440px 850px;
	background-position: center;
	background-repeat: no-repeat;
}

.hero__title {
	font-family: "Roboto";
	font-size: 76px;
	line-height: 78px;
	letter-spacing: 2px;
	color: $font-color;
}

.hero__text {
	width: 491px;
	margin-top: 31px;
	font-family: "Work Sans";
	font-size: 24px;
	line-height: 1.33;
	letter-spacing: 0.5px;
	color: #013a4c;
}

.hero__link {
	margin-left: 510px;

	font-family: "Work Sans";
	font-size: 16px;
	line-height: 1.25;
	color: #000000;
}

.hero__buttons {
	display: flex;
	margin-top: 5px;
}

.hero__btn {
	&:first-child {
		width: 130px;
		height: 50px;
	}
	&:last-child {
		margin-left: 16px;
		@include big-btn($font-color, white);
	}

	@include big-btn;
}
