.platform {
	height: 2432px;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../../images/background-3@2x.jpg);
	background-size: 1440px 2432px;
}

.platform__title {
	width: 830px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 122px;
	margin-bottom: 150px;

	font-family: "Roboto";
	font-weight: 700;
	font-size: 80px;
	line-height: 1;
	text-align: center;
	letter-spacing: 0.7px;
}

.platform-card {
	&:nth-child(2) > .platform-card__wrap {
		margin-left: auto;
	}

	&:last-child > .platform-card__wrap {
		margin-left: auto;
	}

	&:not(:last-child) {
		margin-bottom: 90px;
	}
}

.platform-card__wrap {
	width: 520px;
}

.platform-card__icon-wrap {
	width: 109px;
	height: 109px;
	border-radius: 50%;
	background-color: $background-color;
	display: flex;
	justify-content: center;
	align-items: center;
}

.platform-card__icon {
}

.platform-card__title {
	margin-top: 15px;
	font-family: "Roboto";
	font-weight: 700;
	font-size: 48px;
	line-height: 1.12;
	letter-spacing: 0.4px;
}

.platform-card__text {
	width: 520px;
	margin-top: 34px;

	font-family: "Work Sans";
	font-size: 18px;
	line-height: 1.33;
}

.platform-card__btn {
	margin-top: 17px;
	margin-bottom: 32px;
	@include small-btn($font-color, white, $font-color);
}
